<div class="form-inline row justify-content-end mr-2">
    <div class="mr-2">
        <button type="submit" class="btn btn-success form-control"><i class="fas fa-check"></i>&nbsp;Save</button>
    </div>
    <div>
        <a asp-action="Index" class="btn btn-info form-control"><i class="fas fa-undo-alt"></i>&nbsp;Back</a>
    </div>
</div>