
@model Resource
@{
    ViewData["Title"] = string.Concat((Model.Id == 0 ? "New" : "Edit"), " Resource");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="card card-shadow">
    <div class="card-header">
        <h2 class="text-info text-center">@(Model.Id == 0 ? "New" : "Edit") Resource</h2>
    </div>
    <form method="post">
        <div class="card-body">
            @if (Model.Id != 0)
            {
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="IsActive" />
            }
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <br />
            <div class="col-4 offset-4">
                <div class="form-group">
                    <label>First Name</label>
                    <span asp-validation-for="FirstName" class="text-danger" style="float:right;"></span>
                    <input asp-for="FirstName" class="form-control" />
                </div>
            </div>
            <div class="col-4 offset-4">
                <div class="form-group">
                    <label>Last Name</label>
                    <span asp-validation-for="LastName" class="text-danger" style="float:right;"></span>
                    <input asp-for="LastName" class="form-control" />
                </div>
            </div>
            <div class="col-4 offset-4">
                <div class="form-group">
                    <label>E-mail</label>
                    <span asp-validation-for="Email" class="text-danger" style="float:right;"></span>
                    <input asp-for="Email" class="form-control" />
                </div>
            </div>

        </div>
        <div class="card-footer">
            <partial name="_SaveAndBackButtons" />
        </div>
    </form>
</div>
@section Scripts{
    @* for client side validations *@
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        // set focus on the first visible input
        $('form').find('input[type=text]').filter(':input:visible:first').focus();

        $(document).ready(function ()
        {

            switch ('@TempData["message"]')
            {
                case 'exists':
                    toastr.warning('Resource already exists');
                    break;
                case 'email exists':
                    toastr.warning('E-mail already exists');
                    break;
            }
        });
    </script>
}